body {
    background-color: rgba(21, 168, 197, 0.2);
    background-image: url("https://img.freepik.com/free-vector/matrix-style-binary-code-digital-falling-numbers-blue-background_1017-37387.jpg?semt=ais_user_personalization&w=740&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 70px;
    /* added to prevent fixed nav from overlapping content */
}

h1 {
    margin-top: 0;
    /* remove extra margin */
    text-align: center;
    color: white;

    text-decoration: underline red dotted 5px;


}

p {
    color: rgb(19, 223, 131);
    margin: 50px;
    text-align: left;
    /* text-transform: capitalize; */
    left : 0px;
    


}

.profile-img {
    display: block;
    margin: 30px auto 0 auto;


}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: aquamarine;
    border: #04AA6D solid 3px;
    display: flex;
    justify-content: center;
    z-index: 1000;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #15bd66;
}

ul li a.active {
    background-color: #04AA6D;
}